<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramona.petcare">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".PetListActivity"
            android:label="@string/my_pets"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPetActivity"
            android:label="@string/add_pet"
            android:parentActivityName=".PetListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PetListActivity" />
        </activity>
        <activity
            android:name=".PetDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".PetListActivity"
            android:theme="@style/DetailsAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PetListActivity" />
        </activity>
        <activity
            android:name=".VetsActivity"
            android:parentActivityName=".PetDetailsActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PetDetailsActivity" />
        </activity>

        <receiver android:name=".widget.PetsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pets_widget_provider_info" />
        </receiver>

        <service
            android:name=".widget.PetsWidgetService"
            android:exported="false"/>
    </application>

</manifest>